<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    

        <div class="header">

            
            <div class="title">
                <div class="logo">
                    <img src="/Image/log org copy.png" alt="" id="logo">
                </div>
                <h2>Rising Warrior Martial Arts Academy</h2>
                <h4>To Make The Real Warriors</h4>
                
                

            </div>
            <div class="menu">
                <a href="#">Home</a>
                <a href="#">Course</a>
                <a href="#">Registration</a>
                <a href="#">Contact</a>
                <a href="#">About</a>
            
            </div>       

        </div>
        <div class="container">
             <div class="left">
               
             </div>   

             <div class="middle">

             </div>

             <div class="right">
                <form action="post" class="personalform">
                   
                    <fieldset style="width:200px;" class="form">
                        <legend>
                           <b > For Registration </b>
                        </legend> <br>
                        <div class="formtext">
                            <label  for="first name"> First Name : <br> <input type="text" style="width: 190px;" required id="ip"></label> <br> 
            
                            <label for="">Middle Name : <br> <input type="text" style="width: 190px;" id="ip"></label> <br> 
                
                            <label for="">Last Name : <br> <input type="text"style="width: 190px;" required id="ip"> </label>  <br>
                
                            <label for="">Date of Birth: <br> <input type="date" id="db"> </label> <br>
                            
                            <label for=""> Gender: <br> 
                              
                                Male <input type="radio" name="Gender" >
                                Female <input type="radio" name="Gender">
                                Other <input type="radio" name="Gender">     
                        </div>
                        
                        </label> <br>
                            <input type="reset" id="button"> &nbsp;&nbsp;&nbsp; <button id="button">Submit</button>
                       
                </form>

             </div>

        </div>
        <div class="footer">
            <h3>Visit us: wwww.risingwarrior.com | Contact us: 8999824677/5453254563</h3>
        </div>

    
</body>
</html>